<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!--Current Windows Logged in user.-->
    <!--<add key="VaultSettings" value=",,,Sample Vault,,,1,"/>-->
    
   
    <!--M-File User-->
  <!--<add key="VaultSettings" value="MFSqlConnector,/RXW/3LyTgQ=,localhost,Sample Vault,ncacn_ip_tcp,2266,3,"/>-->
   
    <!--Windows Specific User-->
    <!--<add key="VaultSettings" value="hitesh,XKyaM14faSY=,localhost,Sample Vault,ncacn_ip_tcp,2266,2,DESKTOP-GT362EF"/>-->
    
    <!--M-file User LPC (Local Procedure call)-->
    <!--<add key="VaultSettings" value="MFSqlConnector,/RXW/3LyTgQ=,,Sample Vault,ncalrpc,,3,"/>-->
    
    <!--Windows Specific User-->
    <add key="VaultSettings" value="hitesh,XKyaM14faSY=,,Sample Vault,ncalrpc,,2,DESKTOP-GT362EF"/>


  </appSettings>
</configuration>