
/*
This scripts must be run once to add test records
*/

/****** Object:  Table [ScanCap].[ancora_invoices_back]    Script Date: 18/05/2017 06:29:12 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [ScanCap].[ancora_invoices_back](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[migration] [bit] NOT NULL,
	[file_path] [varchar](255) NULL,
	[FileName] [varchar](100) NULL,
	[ftf_name] [varchar](255) NOT NULL,
	[LinkID] [varchar](255) NULL,
	[VENDOR NAME] [varchar](100) NULL,
	[VENDOR CODE] [varchar](100) NULL,
	[INVOICE DATE] [date] NULL,
	[INVOICE NO] [varchar](100) NULL,
	[PO NUMBER] [varchar](100) NULL,
	[SUBTOTAL] [float] NULL,
	[TAX] [float] NULL,
	[SHIPPING AND HANDLING] [float] NULL,
	[OTHER AMOUNT] [float] NULL,
	[DEPOSIT] [float] NULL,
	[TOTAL AMOUNT] [float] NULL,
	[Image Path] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[QTY] [float] NULL,
	[UNIT PRICE] [float] NULL,
	[LINE TOTAL] [float] NULL
) ON [PRIMARY]

GO


		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION

PRINT(N'Add 11 rows to [ScanCap].[ancora_invoices_back] with non-unique comparison key')
SET IDENTITY_INSERT [ScanCap].[ancora_invoices_back] ON
SET ROWCOUNT 1
INSERT INTO [ScanCap].[ancora_invoices_back] ([LinkID], [ID], [migration], [file_path], [FileName], [ftf_name], [VENDOR NAME], [VENDOR CODE], [INVOICE DATE], [INVOICE NO], [PO NUMBER], [SUBTOTAL], [TAX], [SHIPPING AND HANDLING], [OTHER AMOUNT], [DEPOSIT], [TOTAL AMOUNT], [Image Path], [DESCRIPTION], [QTY], [UNIT PRICE], [LINE TOTAL]) VALUES ('{2A347341-ABEE-4B8E-A94B-3AD912252BED}', 27, 0, NULL, '58432010-04-29', 'ScanCapAncora', 'ADEX U.S.A. L.C.', NULL, '2010-04-29', '5843', '25087126', NULL, NULL, NULL, NULL, NULL, 424.03, NULL, 'Double Bullnose White (outcorner)', 20, 1.13, 22.6)
INSERT INTO [ScanCap].[ancora_invoices_back] ([LinkID], [ID], [migration], [file_path], [FileName], [ftf_name], [VENDOR NAME], [VENDOR CODE], [INVOICE DATE], [INVOICE NO], [PO NUMBER], [SUBTOTAL], [TAX], [SHIPPING AND HANDLING], [OTHER AMOUNT], [DEPOSIT], [TOTAL AMOUNT], [Image Path], [DESCRIPTION], [QTY], [UNIT PRICE], [LINE TOTAL]) VALUES ('{5864B242-1884-43B1-8711-B9EA1B7E342A}', 15, 0, NULL, '58432010-04-29', 'ScanCapAncora', 'ADEX U.S.A. L.C.', NULL, '2010-04-29', '5843', '25087126', NULL, NULL, NULL, NULL, NULL, 424.03, NULL, 'Double Bullnose Stone (outcorner) 4x4', 20, 1.13, 22.6)
SET IDENTITY_INSERT [ScanCap].[ancora_invoices_back] OFF
SET ROWCOUNT 0
COMMIT TRANSACTION
GO
